.article{
   h2{
   font-size: 32px;
    color: #151D3B;
    font-weight: 600;
    text-align: center;
    margin-top: 100px;
    margin-bottom:100px;
      
   }
 .card{
    margin-top: 50px;
 }
 .card-2{
   margin-top: -40px;
 }
}