
.event{

    background-color: #EFF5F5;

     h2{
    font-size: 32px;
    color: #151D3B;
    font-weight: 600;
    text-align: center;
    margin-top: 0;
    margin-bottom:100px;
  }
}

.card{
    position:relative;
    margin-bottom: 100px;
    margin-top: -50px;
  .card-title{
    font-size: 20px;
    color:#151D3B;
    font-weight:600;
    text-align: start;
  }
  .card-text{
    font-size: 16px;
    color: #797a80;
  }
  a{
    font-size: 16px;
    color: #ffffff;
  }
  span{
    font-size: 16px;
    color:#797a80;
  }
  .img-event{
    margin-top: 50px;
    border-radius: 5px 5px 0px 0px;
  }
  .btn{
    font-size: 18px;
    font-weight: 600;
  }

  .btn-location{
    z-index: 1;
    margin-top: -296px;
    margin-left: -20px;
    position: absolute;
    width: 100px;
    height: auto;
    padding: 10px;
    background-color: #151D3B;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    border-radius: 0px 0px 10px 0px;
  }
  @media screen and (max-width:750px) {
    .img-event{
      margin-top: 0;

    }
    .btn-location{
      margin-top: -360px;
    }
    
  }
}


.section-event-detail{
  margin-top: 100px;




.img-event-detail{

  img{
    border-radius: 20px;
    padding: 28px;


  }

}
  
  h2{
    font-size: 28px;
    font-weight: 600;
    color: #151D3B;
    padding-left: 20px;

  }

  .card-text-details{
     font-size: 16px;
    color: #797a80;
    padding:10px 20px 15px 20px;
    
  }

  .card{
    margin-top: 100px;
    
  }
  .card-speaker{
    margin-left: 20px;

    h5{
      font-size: 18px;
      color: #151D3B;
      font-weight: 600;
    }
    p{
      font-size: 14px;
      color: #848896;
      
    }

  }
  .card-price{
    margin-left: 20px;

    h5{
      font-size: 18px;
      color: #151D3B;
      font-weight: 600;
    }
    p{
      font-size: 14px;
      color: red;
      
    }
    span{
      color: green;
      font-size: 16px;
    font-weight: 600;
    }

  }
  .card-location{
    margin-left: 20px;
    h5{
      font-size: 18px;
      color: #151D3B;
      font-weight: 600;
    }
    p{
      font-size: 14px;
      color: #848896;
      
    }

  }
  .form{
    label{
      font-size: 16px;
      color: #797a80;
      padding-bottom: 5px;
      padding-top: 10px;
     
    }

  }
  .border-line{
    width: 100%;
    height: 1px;
    background: #d4d5da;
    margin-top: 20px;
  }


}

